@import "mediaquares/media";
@import "utilidades/variables";
@import "index";
@import "utilidades/map";
@import "utilidades/botones";

body {
    background-color: map-get($colores, fondo2);
}

.header {
    background-color: black;
    border-bottom: solid 2px rgb(228, 193, 193);
    box-shadow: 40px;

    h4 {
        color: map-get($colores, letras);
    }

}

.section1 {
    width: 100%;
    height: 15rem;
    background-image: url(../images/principio.png);
    opacity: 75%;

    .h1 {
        color: map-get($colores, letras);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


}

.sectionosotros {
    p {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*---------GALERIA DE PRODUCTOS-------------*/
.galeria1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 5px;

    .img1 {
        border: solid black 3px;
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
        object-fit: cover;

        &:hover {
            background-color: aqua;
            filter: color(map-get($colores,fondo2));
            transform: scale(1.04);
        }
    }

    .img2 {
       @extend .img1;
       grid-column: 2/3;
        grid-row: 1/2;
    }

    .img3 {
        padding-left: 8px !important;
        @extend .img1;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .img4 {
        @extend .img1;
        grid-column: 2/3;
        grid-row: 2/3;

    }

    .img5 {
        padding-left: 8px !important;
      @extend .img1;
      grid-column: 1/2;
    grid-row: 3/4;
    }

    .img6 {
    @extend .img1;
    grid-column: 2/3;
        grid-row: 3/4;

    }

    .img7 {
     @extend .img1;
     grid-column: 1/2;
        grid-row: 4/5;
    }

    .img8 {
      @extend .img1;
      grid-column: 2/3;
        grid-row: 4/5;

    }

    .img9 {
        @extend .img1;
        grid-column: 1/3;
        grid-row: 5/6;
    }

    }

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    color: black;
    font-size: 30px;
}

.cursos {
    width: auto;
    height: 25rem;
    padding-top: 10rem;
    background-image: url(../images/cursos_seminarios_1.jpg);
    opacity: 75%;

}

/*------------------TARJETAS------------------------*/
.card {
    &-body {
        background-color: black;
        color: rgb(255, 255, 255);
        border: rgb(122, 13, 122) 2px;
    }

    &-title {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    &-btn {
        background-color: map-get($colores, secundario) !important;
        color: cornsilk;
        border-color: aquamarine;

        &:hover {
            background-color: aquamarine !important;
            color: black;
            filter: opacity(0.9);
            transform: scale(1.04);
        }
    }
}

/*-------------------------FORMULARIO----------------------*/

.formulario {
    background-color: map-get($colores, fondo);
    color: white;
    border: solid rgb(61, 3, 61) 2px;

    .btn-form {
        background-color: blueviolet;
        border-color: bisque;
        margin-left: 50px;
    }
}

/*-----------------------------FOOTER---------------------------*/
.footer {
    background-color: black;
    border-top: solid rgb(73, 53, 53) 2px;
}

/*--------------------MEDIA---------------------------------*/


@media (min-width:856px) {
    .galeria1 {
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(300px 300px 300px);
        grid-auto-rows: minmax(200px, auto);
        gap: 5px;

        .img1 {
            width: 100%;
            grid-column: 1/2;
            grid-row: 1/2;
            object-fit: cover;

            &:hover {
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }
        }

        .img2 {
            width: 100%;
            grid-column: 2/3;
            grid-row: 1/2;
            object-fit: cover;

            &:hover {
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }

        }

        .img3 {
            width: 100%;
            grid-column: 1/2;
            grid-row: 2/3;
            object-fit: cover;

            &:hover {
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }

        }

        .img4 {
            width: 100%;
            grid-column: 2/3;
            grid-row: 2/3;
            object-fit: cover;

            &:hover {
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }

        }

        .img5 {
            width: 100%;
            grid-column: 1/2;
            grid-row: 3/4;
            object-fit: cover;

            &:hover {
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }

        }

        .img6 {
            width: 100%;
            grid-column: 2/3;
            grid-row: 3/4;
            object-fit: cover;

            &:hover {
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }

        }

        .img7 {
            width: 100%;
            grid-column: 1/2;
            grid-row: 4/5;
            object-fit: cover;

            &:hover {
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }

        }

        .img8 {
            width: 100%;
            grid-column: 2/3;
            grid-row: 4/5;
            object-fit: cover;

            &:hover {
                background-color: aqua;
                filter: drop-shadow(5);
                transform: scale(1.04);
            }

        }

        .img9 {
            width: 100%;
            grid-column: 1/2;
            grid-row: 4/5;
            object-fit: cover;

            &:hover {
                background-color: aqua;
                filter: opacity(2);
                transform: scale(2.04);
            }

        }


    }

}


@media (min-width:900px) {
    .galeria1 {
        display: grid;
        grid-template-columns: repeat(300px 300px 300px);
        grid-auto-rows: minmax(200px, auto);
        gap: 10px;
        .img1 {
            width: 100%;
            grid-column: 1/2;
            grid-row: 1/2;
            object-fit: cover;
            &:hover{
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }
        }
    
        .img2 {
            width: 100%;
            grid-column: 2/3;
            grid-row: 1/2;
            object-fit: cover;
            &:hover{
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }
            
        }
    
        .img3 {

            width: 100%;
            grid-column: 3/4;
            grid-row: 1/2;
            object-fit: cover;
            &:hover{
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }
          
        }
    
        .img4 {
            width: 100%;
            grid-column: 1/2;
            grid-row: 2/3;
            object-fit: cover;
            &:hover{
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }
            
        }
    
        .img5 {
            width: 100%;
            grid-column: 2/3;
            grid-row: 2/3;
            object-fit: cover;
            &:hover{
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }
           
        }
    
        .img6 {
            width: 100%;
            grid-column: 3/4;
            grid-row: 2/3;
            object-fit: cover;
            &:hover{
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }
            
        }
    
        .img7 {
            width: 100%;
            grid-column: 1/2;
            grid-row: 3/4;
            object-fit: cover;
            &:hover{
                background-color: aqua;
                filter: opacity(2);
                transform: scale(1.04);
            }
           
        }
    
        .img8 {
            width: 100%;
            grid-column: 2/3;
            grid-row: 3/4;
            object-fit: cover;
            &:hover{
                background-color: aqua;
                filter:drop-shadow(5);
                transform: scale(1.04);
            }
           
        }
    
        .img9 {
            width: 100%;
            grid-column: 3/4;
            grid-row: 3/4;
            object-fit: cover;
            &:hover{
                background-color: aqua;
                filter: opacity(2);
                transform: scale(2.04);
            }
           
        }
    
    
    }
}